<% layout('layouts/boilerplate') %>
<h1 class="ms-5 mt-5" >Contributors: </h1>
<div class = "row row-cols-lg-5 row-cols-md-4 row-cols-sm-2 row-cols-xs-1">
    <div class="card ms-5 me-3 mt-5" style="width: 18rem; border:none;">
        <img src="/images/guy1.jpg" class="card-img-top mb-2" alt="...">
        <div class="card-body">
          <h5 class="card-title">Manav Nigam</h5>
          <p class="card-text">Backend Design & Code</p>
        </div>
      </div>
    
    <div class="card ms-5 me-3 mt-5" style="width: 18rem; border:none;">
        <img src="/images/guy2.jpg" style="height:16.5rem; object-fit:cover;"class="card-img-top mb-2" alt="...">
        <div class="card-body">
          <h5 class="card-title">Tanishk Verma</h5>
          <p class="card-text">Frontend Design</p>
        </div>
    </div>
    
    <div class="card ms-5 me-3 mt-5" style="width: 18rem; border:none;">
        <img src="/images/girl1.png" style="height:16.5rem; object-fit:cover;" class="card-img-top mb-2" alt="...">
        <div class="card-body">
          <h5 class="card-title">Keerthi KM</h5>
          <p class="card-text">Frontend Code</p>
        </div>
    </div>
    
    <div class="card ms-5 me-3 mt-5" style="width: 18rem; border:none;">
        <img src="/images/guy3.jpg" style="height:16.5rem; object-fit:cover;" class="card-img-top mb-2" alt="...">
        <div class="card-body">
          <h5 class="card-title">Abhay Aggarwal</h5>
          <p class="card-text">Database Structure</p>
        </div>
      </div>
    
    <div class="card ms-5 me-3 mt-5" style="width: 18rem; border:none;">
        <img src="/images/girl2.png" style="height:16.5rem; object-fit:cover;" class="card-img-top mb-2" alt="...">
        <div class="card-body">
          <h5 class="card-title">Puja Kumari</h5>
          <p class="card-text">Data Collection</p>
        </div>
    </div>
    
    <div class="card ms-5 me-3 mt-5" style="width: 18rem; border:none;">
        <img src="/images/girl3.jpg" style="height:16.5rem; object-fit:cover;" class="card-img-top mb-2" alt="...">
        <div class="card-body">
          <h5 class="card-title">Neha</h5>
          <p class="card-text">Data Collection</p>
        </div>
    </div>
</div>
