<% layout('layouts/boilerplate') %>
<h1 class="ms-5 mt-5" >Contributors: </h1>
<div class = "row row-cols-lg-5 row-cols-md-4 row-cols-sm-2 row-cols-xs-1">
    <div class="card ms-5 me-3 mt-5" style="width: 18rem; border:none;">
        <img src="/images/guy1.jpg" class="card-img-top mb-2" alt="...">
        <div class="card-body">
          <h5 class="card-title">Manav Nigam</h5>
          <p class="card-text">Backend Design & Code</p>
        </div>
      </div>
</div>
