<% layout('layouts/boilerplate') %>
<div class="mt-5 home-container d-flex justify-content-center align-items-center">
    <div class="text-center">
        <h1>Welcome to HackAware</h1>
        <h5>This is a Data Breach Simulation Software</h5>
        <a href="/simulations"><button type="button" class="btn btn-primary">Get Started <i class="fa-solid fa-arrow-right-long"></i></button></a>
      </div> 
</div>
<div class="mt-5 ms-5 ">
  <h2>What is this Platform?</h2>
  <p class = "bg-info-subtle text-info-emphasis">The Data Breach Simulation Platform is an interactive web-based application designed to simulate various data breach scenarios, such as phishing, SQL injection, and ransomware attacks. It allows users to make decisions during simulations, showcasing the consequences of their actions. The platform provides detailed insights into the potential impacts on data privacy and security, along with preventive measures and best practices. Users can learn how to improve their cybersecurity posture. </p>
</div>

