<% layout('layouts/boilerplate') %>
<h2 class="ms-5 mt-3"><%= simulation.name %></h2>
<p class="ms-5 mt-3"><%= simulation.description %></p>
<a href="/simulations/<%= simulation._id %>/start" class="btn btn-primary ms-5 mt-3">Start Simulation</a>


